.quiz {
    margin: 0 auto;
    width: 600px;
}

.quiz-questions, .quiz-results {
    margin-bottom: 20px;
}

.quiz-questions-item {
}

.quiz-results-item {
    margin-bottom: 20px;
}

.quiz-quesitons-item__question, .quiz-results-item__question {
    margin-bottom: 20px;
    font-size: 20px;
}

.quiz-questions-item__answers, .quiz-results-item__answers {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.quiz-indicator {
    margin-bottom: 20px;
}

.btn-next {

}

.btn-restart {
    display: none;
}

.questions--hidden,
.indicator--hidden,
.btn-next--hidden {
    display: none;
}

.results--visible,
.btn-restart--visible {
    display: block;
}

.answer--valid {
    color: green;
}

.answer--invalid {
    color: red;
}

/*
.answer-wrapper input[type=radio] {
    display: none;
}*/
