*{
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #000
}

.hidden {
    display: none !important;
}

.quiz {
    background-color: #f1f1f1;
    padding: 20px 60px;
    border-radius: 10px;
    width: 80%;
    margin: 100px auto;
}

.quiz-wrapper {
    display: flex;
    justify-content: space-between;
}

.quiz-images {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 50%;
}

.quiz-images img {
    width: 300px;
}

.quiz-questions, .quiz-results {
    margin-bottom: 20px;
}

.quiz-results-item {
    margin-bottom: 20px;
}

.quiz-quesitons-item__question, .quiz-results-item__question {
    margin-bottom: 20px;
    font-size: 1.6rem;
}

.quiz-questions-item__answers, .quiz-results-item__answers {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.quiz-indicator {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 20px;
    padding: 20px 0;
    border-bottom: 1px solid rgba(0,0,0,.2);
    font-size: 20px;
    color: rgba(0,0,0,.6);
}

.btn-next, .btn-restart {
    padding: 14px 32px;
    background-color: #64537C;
    color: #fff;
    border-radius: 2px;
    font-size: 16px;
    transition: 0.6s;
    cursor: pointer;
    border: #64537C;
}

.btn-next[disabled] {
    opacity: 0.4;
    cursor: auto;
}

.btn-restart {
    display: none;
}

.questions--hidden,
.indicator--hidden,
.btn-next--hidden {
    display: none;
}

.results--visible,
.btn-restart--visible {
    display: block;
}

.answer-wrapper {
    margin-top: 12px;
}

.answer-label {
    display: flex;
    cursor: pointer;
}

.answer-input {
    display: none;
}

.answer-title {
    display: inline-block;
    margin-left: 20px;
}

.answer-fake {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #989898;
    border-radius: 50%;
    position: relative;
    bottom: 3px;
    background-color: #fff;
}

.answer-fake::before {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: #64537C;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.6s;
}

.answer-input:checked + .answer-fake::before {
    opacity: 1;
}

.results-title-wrapper {
    display: flex;
    justify-content: space-between;
}

.results-quality {
    display: flex;
}

.title {
    width: 40%;
    margin-right: 50px;
    font-weight: 500;
    font-size: 28px;
}

.quality-item {
    display: flex;
    width: 140px;
    height: 140px;
    flex-direction: column;
    align-items: center;
    background: #fff;
    border-radius: 50%;
    margin-right: 30px;
}

.quality-item__percent {
    display: inline-block;
    margin-top: 40px;
    font-weight: 500;
    font-size: 40px;
}

.quality-item__title {
    font-size: 12px;
}

.results-courses-wrapper {
    margin-top: 40px;
}

.results-courses__list {
    list-style-type: none;
    display: flex;
    padding: 0;
}

.results-courses__item {
    margin-right: 20px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 10px;
    transition: 0.4s;
}

.results-courses__item:hover {
    transform: scale(1.1);
}

.results-courses__item a {
    padding: 20px;
    display: inline-block;
}

.results-title {
    font-size: 40px;
}

@media(max-width: 1300px) {

    .title {
        width: 100%;
    }

    .results-title-wrapper {
        flex-direction: column;
    }

    .results-quality {
        margin-top: 20px;
    }
}

@media(max-width: 850px) {

    .quiz-images {
        display: none;
    }

    .results-quality {
        flex-wrap: wrap;
    }

    .quality-item {
        margin-top: 10px;
    }

    .results-title {
        font-size: 32px;
    }

    .results-courses__list {
        flex-wrap: wrap;
    }

    .results-courses__item {
        margin-top: 10px;
    }
}